<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.svmuu"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 添加快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <!-- 移除快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>
    <!-- 查询快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature android:name="android.hardware.camera.flash"/>

    <uses-permission android:name="android.permission.RECORD_VIDEO"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name=".AppDelegate"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.ActivityList"
            android:screenOrientation="portrait">

            <!-- todo-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        <activity
            android:name="com.sp.lib.activity.DEBUGActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.EnterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

        </activity>
        <activity

            android:name=".ui.activity.live.LiveActivity"
            android:label="@string/title_activity_live"
            android:screenOrientation="portrait">
        </activity>
        <activity

            android:name=".ui.activity.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait">
        </activity>
        <activity

            android:name=".ui.activity.live.MyCircleActivity"
            android:label="@string/title_activity_live_list"
            android:screenOrientation="portrait">
        </activity>
        <activity

            android:name=".ui.activity.SearchActivity"
            android:label="@string/title_activity_search"
            android:screenOrientation="portrait">
        </activity>
        <activity

            android:name=".ui.activity.settings.SettingActivity"
            android:label="@string/title_activity_setting"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
            android:name=".ui.activity.live.FullScreenVideo"
            android:label="@string/title_activity_full_sceen_vedio"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>

        <activity

            android:name=".ui.activity.box.BoxActivity"
            android:label="@string/title_activity_box"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.box.BoxDetailActivity"
            android:label="@string/title_activity_box_detail"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity

            android:name=".ui.activity.box.VideoBoxActivity"
            android:label="@string/title_activity_box_info"
            android:screenOrientation="portrait">
        </activity>
        <activity

            android:name=".ui.activity.box.TextBoxActivity"
            android:label="@string/title_activity_text_box"
            android:screenOrientation="portrait">
        </activity>
        <activity

            android:name=".ui.pop.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/loginActivity"/>
        <activity

            android:name=".ui.activity.settings.SuggestionActivity"
            android:label="@string/title_activity_suggestion"
            android:screenOrientation="portrait">
        </activity>
        <activity

            android:name=".ui.activity.settings.AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
