<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yjy998" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 添加快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <!-- 移除快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <!-- 查询快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.xiaomi.market.sdk.UPDATE" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".AppDelegate"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="Hello"
            android:value="${TestValue}" />

        <activity
            android:name=".ui.activity.EnterActivity"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.main.MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sp.lib.activity.album.PhotoAlbumActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sp.lib.activity.DEBUGActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <!-- <activity -->
        <!-- android:name="com.sp.lib.demo.SlibDemo" -->
        <!-- android:icon="@drawable/ic_lincoln" -->
        <!-- android:label="SLIB"> -->


        <!-- </activity> -->
        <!-- <activity-alias -->
        <!-- android:targetActivity="com.sp.lib.demo.SlibDemo" -->
        <!-- android:name="slib" -->
        <!-- android:icon="@drawable/ic_lincoln" -->
        <!-- android:label="SLIB"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity-alias> -->

        <activity
            android:name=".common.test.ChartActivity"
            android:exported="false"
            android:label="@string/title_activity_chart"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.admin.LockActivity"
            android:exported="false"
            android:label="@string/title_activity_lock"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.test.TestActivity"
            android:exported="false"
            android:label="@string/title_activity_test"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.main.apply.ApplyActivity"
            android:exported="false"
            android:label="@string/title_activity_t9_tn"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.main.my.ChangeDataActivity"
            android:exported="false"
            android:label="@string/title_activity_change_data"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activity.main.home.NewMemberActivity"
            android:exported="false"
            android:label="@string/title_activity_fresh"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.main.my.business.BusinessActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".common.test.MenuDrawerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.main.contest.ContestInfoActivity"
            android:exported="false"
            android:label="@string/title_activity_game_info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.main.contest.RankActivity"
            android:exported="false"
            android:label="@string/title_activity_rank"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.pay.RechargeActivity"
            android:exported="false"
            android:label="@string/title_activity_recharge"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.main.home.MessageActivity"
            android:exported="false"
            android:label="@string/title_activity_message"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.admin.About"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.main.my.ContractInfoActivity"
            android:exported="false"
            android:label="@string/title_activity_contract_info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.main.my.SetGesturePassword"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.main.more.WebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.main.apply.ContestApplyActivity"
            android:exported="false"
            android:label="@string/title_activity_contest_apply"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.main.popularize.PopularizeActivity"
            android:exported="false"
            android:label="@string/title_activity_popularize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.main.popularize.InviteFriends"
            android:exported="false"
            android:label="@string/title_activity_invite_friends"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.main.popularize.Introduce"
            android:exported="false"
            android:label="@string/title_activity_invite_friends"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.export.GameListActivity"
            android:exported="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.yjy998.export.Game" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.pay.PayTestActivity"
            android:label="@string/title_activity_pay_test" >
        </activity>
    </application>

</manifest>
