<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yjy998">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />


    <supports-screens
        android:smallScreens="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:xlargeScreens="true"
        />

    <application
        android:name=".AppDelegate"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.EnterActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" />
        <activity
            android:name="com.sp.lib.activity.album.PhotoAlbumActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.sp.lib.activity.DEBUGActivity"
            android:label="@string/app_name" />
        <!--todo-->
     <!--   <activity
            android:name="com.sp.lib.demo.SlibDemo"
            android:icon="@drawable/ic_lincoln"
            android:label="SLIB">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->
        <activity
            android:name=".common.test.ChartActivity"
            android:label="@string/title_activity_chart" />
        <activity
            android:name=".ui.activity.admin.LockActivity"
            android:label="@string/title_activity_lock"
            android:launchMode="singleTop" />
        <activity
            android:name=".common.test.TestActivity"
            android:label="@string/title_activity_test" />
        <activity
            android:name=".ui.activity.main.apply.ApplyActivity"
            android:label="@string/title_activity_t9_tn" />
        <activity
            android:name=".ui.activity.main.my.ChangeDataActivity"
            android:label="@string/title_activity_change_data" />
        <activity
            android:name=".ui.activity.main.home.NewMemberActivity"
            android:label="@string/title_activity_fresh" />
        <activity
            android:name=".ui.activity.main.my.business.BusinessActivity"
            android:launchMode="singleTop" />
        <activity android:name=".common.test.MenuDrawerActivity" />
        <activity
            android:name=".ui.activity.main.contest.ContestInfoActivity"
            android:label="@string/title_activity_game_info" />
        <activity
            android:name=".ui.activity.main.contest.RankActivity"
            android:label="@string/title_activity_rank" />
        <activity
            android:name=".ui.activity.pay.RechargeActivity"
            android:label="@string/title_activity_recharge" />

        <activity
            android:name=".ui.activity.main.home.MessageActivity"
            android:label="@string/title_activity_message" />
        <activity
            android:name=".ui.activity.admin.About"
            android:label="@string/title_activity_abount" />
        <activity
            android:name=".ui.activity.main.my.ContractInfoActivity"
            android:label="@string/title_activity_contract_info" />
        <activity android:name=".ui.activity.main.my.SetGesturePassword" />
        <activity android:name=".ui.activity.main.more.WebViewActivity" />
    </application>

</manifest>
